<div class="center jumbotron">
  <h1>Demo App</h1>
  <img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10660221_10203688910895047_2041505902675858181_n.jpg?oh=dca82066f8c1e8d42acad8acff916cc2&oe=54FD96EF&__gda__=1427648954_05bebf7994cc8960819ca68b9ef25873"/> 
  <h2>
    Welcome to the home page of my Demo app! 
  </h2>
  <%= link_to "Sign Up here!", users_path, class: "btn btn-lg btn-primary" %>
</div>